  body{
    margin: 0px;;
  }
  #main-header{
    width: 100%;
    height: 83px;
    background-color: #e3e7ea;
  }
  .center{
    margin: 0 auto;
    position: relative;
    max-width: 1400px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .load-progress{
    height: 3px;
    margin-bottom: 20px;
    position: relative;
    background: #555;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  }
  .read-progress{
    position: absolute;
    bottom: 0px;
    height: 5px;
    width: 80%;
    background: #555;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  }
  .home{
    background-image: url('home_lg_black.png');
    width: 50px;
    height: 50px;
    display: inline-block;
  }
  .articles,.about{
    color: #666;
    font-size: .9em;
    font-weight: 600;
    text-decoration: none;
    margin-left: 10px;
    font-family: cursive;
  }
  nav{
    text-align: right;
    display: inline-block;
    float: right;
    margin-top: 25px;
  }
  .txt-center{
    text-align: center;
  }
  .title{
    margin-top: 30px;
    font-weight: 700;
    color: gray;
    font-family: cursive;
  }
