  body{
    margin: 0px;
    font-family: Open Sans,Helvetica Neue,sans-serif;
  }
  #main-header{
    width: 100%;
    height: 100px;
    background-color:  rgba(0, 204, 255, 1);
  }
  .center{
    margin: 0 auto;
    position: relative;
    max-width: 1400px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .load-progress{
    height: 3px;
    margin-bottom: 20px;
    position: relative;
    background: #555;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  }
  .read-progress{
    position: fixed;
    bottom: 0px;
    height: 5px;
    width: 80%;
    background: #555;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  }
  nav{
    text-align: right;
    display: inline-block;
    float: right;
    margin-top: 25px;
  }
  .txt-center{
    text-align: center;
    letter-spacing: 3px;
  }
  .title{
    margin-top: 70px;
    color: gray;
  }
  .articles-container{
    margin: auto;
    list-style-type: none;
    width: 640px;
  }
  @media only screen and (max-width: 767px) {
    .articles-container{
      width: 90%;
    }
  }
  .article{
    margin-top: 50px;
  }
  .article-preview{
    text-decoration: none;
    color: #AAAAAA;
  }
  .article-date{
    font-size: 12px;
  }
  li.article{
    padding-bottom: 10px;
    border-bottom: 1px solid #F2F0ED;
  }
  .article-title{
    color: gray;
    font-family: "Open Sans Light",Helvetica,Arial,sans-serif;
  }
